<div class="container">
  <div class="row">
    <div class="col-3">

      <div class="form-group">
        <h5 class="text-warning">Sort</h5>
        <select id="my-select" class="custom-select" (change)='onSortSelected($event.target.value)'>
          <option *ngFor="let sort of sortOptions" [value]='sort.value'>{{sort.name}}</option>
        </select>
      </div>

      <h5 class="text-warning">Brans</h5>
      <ul class="list-group my-3">
        <li class="list-group-item" *ngFor="let brand of brands" [class.active]='brand.id === this.shopParams.brandId'
          [value]='brand.id' (click)='onBrandSelected(brand.id)'>
          {{brand.name}}
        </li>
      </ul>

      <h5 class="text-warning">Types</h5>
      <ul class="list-group my-3">
        <li class="list-group-item" *ngFor="let type of types" [class.active]='type.id === this.shopParams.typeId'
          [value]='type.id' (click)='onTypeSelected(type.id)'>
          {{type.name}}
        </li>
      </ul>
    </div>
    <div class="col-9">

      <div class="d-flex justify-content-between align-items-center pb-2">
        <!--Pagination Header-->
        <app-pagination-header [totalCount]="this.totalItemsCount" [pageIndex]='this.shopParams.pageIndex'
          [pageSize]='this.shopParams.pageSize'></app-pagination-header>
        <div class="form-inline mt-2">
          <input class="form-control" style="width:300px" placeholder="Search" type="text" #search
            (keyup.enter)='this.onSearch()' />
          <button class="btn btn-outline-primary my-2 ml-2" (click)='this.onSearch()'>Search</button>
          <button class="btn btn-outline-success my-2 ml-2" (click)='this.onReset()'>Reset</button>
        </div>
      </div>

      <div class="row">
        <div class="col-4 mb-4" *ngFor="let product of products">
          <app-product-item [product]='product'></app-product-item>
        </div>
      </div>
      <div class="d-flex justify-content-center" *ngIf="this.totalItemsCount > 0">
        <app-pagination [pageSize]='this.shopParams.pageSize' [totalCount]='this.totalItemsCount'
          (pageChanged)='onPageChanged($event)'></app-pagination>
      </div>
    </div>
  </div>
</div>
