
.cart-no {
  min-width: 25px;
  min-height: 25px;
  font-size: 1em;
  text-align: center;
  background-color: royalblue;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  top: -12px;
  right: 32px;
}